.bw-inline-tooltip-container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px; /* Half of the arrow width */
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #222 transparent;
}
.bw-inline-tooltip-container {
  position: relative;
  background-color: #222;
  border-radius: 5px;
  box-shadow: 0px 2px 10px #22222260;
  color: #fff;
  margin: 10px 0px;
}
.bw-inline-tooltip-hidden {
  transition: max-height ease-in 0.5s, opacity ease-in 0.5s;
  max-height: 0px;
  opacity: 0;
  display: none;
}
.bw-inline-tooltip-visible {
  transition: max-height ease-in 0.5s, opacity ease-in 0.5s;
  max-height: 250px;
  opacity: 1;
}
.bw-inline-tooltip-scrollable-content {
  max-height: 205px;
  overflow: auto;
  padding: 0px 10px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  line-height: 1.5;
}
@media only screen and (orientation: landscape) {
  .bw-inline-tooltip-scrollable-content {
    max-height: 175px;
  }
}
/* .bw-inline-tooltip-scrollable-content::after {
    content: "";
    position: absolute;
    bottom: 34px;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to bottom, #22222200, #222222ff);
    pointer-events: none;
}  */
/* ROD: TBD WITH SANDEEP re: slight fade at bottom. Add blank &NBSP to accomodate anti-fade on last line of text? */
.bw-inline-tooltip-heading-row {
  display: flex; /* Use flexbox to create a horizontal layout */
  align-items: center; /* Vertically center the content */
  justify-content: space-between; /* Create space between div-1 and div-2 */
}
.bw-inline-tooltip-heading-title {
  flex: 1;
}
.bw-inline-tooltip-icon {
  flex-shrink: 0; /* Prevent div-2 from shrinking */
  width: 40px; /* Set the maximum width of div-2 */
  text-align: right; /* Align text in div-2 to the right */
}
.bw-inline-tooltip-bottom-row {
  height: 24px;
  padding: 0px 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #22222260;
  color: #ddd;
  overflow: hidden;
  font-size: 12px;
  font-family: "PT Sans";
  display: flex;
  align-items: center;
  border-top: dotted #ffffff60 1px;
}
.bw-inline-tooltip-diclaimer{
  margin: 0px 5px;
}
.bw-inline-tooltip-feedback-link{
  color: inherit;
  text-decoration: none;
}
.bw-inline-tooltip-info-svg {
  margin: 0px 5px;
}
.bw-inline-tooltip-skip-button {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 8px 5px 5px 15px;
}

.bw-inline-tooltip-thumbs-button {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 5px 5px;
}

.bw-inline-tooltip-feedback{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.tippy-content > div::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.tippy-content > div {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
