:root {
  --bw-bg-color: #222;
  --bw-text-color: #fff;
}

:root .bw-inline-tooltip-inverse {
  --bw-bg-color: #fff;
  --bw-text-color: #222;
}

.bw-inline-tooltip-bottom-row {
  --bw-bg-color: #222;
  --bw-text-color: #ddd;
}

.bw-inline-tooltip-inverse .bw-inline-tooltip-bottom-row {
  --bw-bg-color: #ddd;
  --bw-text-color: #222;
}

.bw-inline-tooltip-container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px; /* Half of the arrow width */
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--bw-bg-color) transparent;
}
.bw-inline-tooltip-container {
  position: relative;
  background-color: var(--bw-bg-color);
  color: var(--bw-text-color);
  border-radius: 5px;
  /*box-shadow: 0px 2px 10px #22222260;*/
  box-shadow:0 0 20px 4px rgba(154, 161, 177, 0.15), 0 4px 80px -8px rgba(36, 40, 47, 0.25), 0 4px 4px -2px rgba(91, 94, 105, 0.15);
  margin: 10px 0px;
  opacity: 0;
}
.bw-inline-tooltip-visible {
  transition: opacity ease-in 1s;
  opacity: 1;
}
:not(#non-existing-bw-id) div.bw-inline-tooltip-scrollable-content {
  max-height: 205px;
  overflow: auto;
  padding: 0px 10px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  line-height: 1.5;
}

:not(#non-existing-bw-id) div.bw-inline-tooltip-content {
  background-color: var(--bw-bg-color);
  color: var(--bw-text-color);
  line-height: inherit;
}

@media only screen and (orientation: landscape) {
  .bw-inline-tooltip-scrollable-content {
    max-height: 175px;
  }
}
/* .bw-inline-tooltip-scrollable-content::after {
    content: "";
    position: absolute;
    bottom: 34px;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to bottom, #22222200, #222222ff);
    pointer-events: none;
}  */
/* ROD: TBD WITH SANDEEP re: slight fade at bottom. Add blank &NBSP to accomodate anti-fade on last line of text? */
.bw-inline-tooltip-heading-row {
  display: flex; /* Use flexbox to create a horizontal layout */
  align-items: center; /* Vertically center the content */
  justify-content: space-between; /* Create space between div-1 and div-2 */
}
.bw-inline-tooltip-heading-title {
  flex: 1;
}
.bw-inline-tooltip-heading-title > strong {
  background-color: var(--bw-bg-color);
  color: var(--bw-text-color);
}
.bw-inline-tooltip-icon {
  flex-shrink: 0; /* Prevent div-2 from shrinking */
  width: 40px; /* Set the maximum width of div-2 */
  text-align: right; /* Align text in div-2 to the right */
}

:not(#non-existing-bw-id) .bw-inline-tooltip-ad-row {
  max-height:50px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
}

:not(#non-existing-bw-id) .bw-inline-tooltip-ad-row:empty {
  display: none;
}

:not(#non-existing-bw-id) .bw-inline-tooltip-bottom-row {
  background-color: var(--bw-bg-color);
  color: var(--bw-text-color);
  height: 24px;
  padding: 0px 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  font-size: 12px;
  font-family: "PT Sans";
  display: flex;
  align-items: center;
  border-top: dotted var(--bw-text-color) 1px;
}
:not(#non-existing-bw-id) .bw-inline-tooltip-diclaimer {
  background-color: var(--bw-bg-color);
  color: var(--bw-text-color);
  font-size: inherit;
  margin: 0px 5px;
}
:not(#non-existing-bw-id) a.bw-inline-tooltip-feedback-link {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.bw-inline-tooltip-info-svg {
  margin: 0px 2px;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
}
button.bw-inline-tooltip-close-button {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0px;
  margin: 8px 5px 5px 15px;
}

button.bw-inline-tooltip-thumbs-button {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0px;
  margin: 5px 5px;
}

.bw-inline-tooltip-feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tippy-content > div::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.tippy-content > div {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
